@model MvcAuth.Models.ChangePasswordViewModel
@{ ViewBag.Title = "Change Password";
                Layout = "~/Views/Shared/_LayoutStudent.cshtml"; }
<section class="container">
    <div class="card mb-3" style="margin-top:30px">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    @using (Html.BeginForm("ChangePassword", "Students", FormMethod.Post))
                    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                                        <div class="card-text">
                                            <div class="form-group d-flex">
                                                <label for="password"><strong>Old Password:  </strong></label>
                                                @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control w-75 ml-2", id = "passwordInput", name = "password" })
                                            </div>
                                            <br />
                                        </div>
                                                        <div class="card-text">
                                                            <div class="form-group d-flex">
                                                                <label for="oldpassword"><strong>New Password:  </strong></label>
                                                                @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control w-75 ml-2", id = "oldpasswordInput", name = "oldpassword", })
                                                            </div>
                                                            <br />
                                                        </div>
                                                                        <div class="card-text">
                                                                            <div class="form-group d-flex">
                                                                                <label for="confirmpassword"><strong>Confirm Password:  </strong></label>
                                                                                @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control w-75 ml-2", id = "confirmpasswordInput", name = "confirmpassword" })
                                                                            </div>
                                                                            <br />
                                                                        </div>
                                                                                        <button class="btn btn-danger px-5 btn-block">Save</button>}
                </div>
            </div>
        </div>
    </div>
</section>
