
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<section class="container">
    <div class="card mb-3" style="margin-top:30px">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Url.Action("RenderImage")" alt="" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">User Details</h3>
                    <div class="card-text">
                        <p><strong>Id: </strong> @Session["StudentID"]</p>
                        <br />
                    </div>
                    <div class="card-text">
                        <p><strong>Name: </strong> @Session["StudentName"]</p>
                        <br />
                    </div>
                    <div class="card-text">
                        <p><strong>Email: </strong>  @Session["StudentEmail"]</p>
                        <br />
                    </div>
                    <a href="@Url.Action("EditMyProfile","Students")" class="btn btn-info px-5 btn-block">Edit My Profile  </a>
                    <a href="@Url.Action("ChangePassword","Students")" class="btn btn-danger px-5 btn-block">Change Password  </a>
                </div>
            </div>
        </div>
    </div>
</section>

