@model IEnumerable<MvcAuth.Models.PostTbl>
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

@if (Model.Count() <= 0)
{
    <br />
    <p class="h4 text-black-50 text-center">No posts</p>
    <br />
    <div class="text-center">
        <a href="@Url.Action("Navigation","Students")" class="btn btn-dark btn-lg"> Back To Home</a>
        <a href="@Url.Action("NewPost","Students")" class="btn btn-dark btn-lg">Create New Post</a>
    </div>

}
else
{

    <div class="container mt-5">
        <div class="col-md">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        @using (Html.BeginForm("Navigation", "Students", FormMethod.Get))
                        {
                            <div class="input-group">
                                @Html.TextBox("id", null,new { @class = "form-control" ,placeholder = "Search" })
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("NewPost","Students")" class="btn btn-block btn-dark">Create New Post</a>
                    </div>
                </div>
            </div>
            <br />
            @foreach (var i in Model)
            {
                <div class="card">
                    <div class="card-header">
                        <img class="figure-img img-circle" style="border-radius:50%" width="30" height="30" src="@Url.Action("RenderImageUser","Students",new { id=i.St_ID})" /> <span class="text-black-50">@Html.DisplayFor(a => i.StudentTbl.St_Name)</span>
                        <p>
                            <i class="fas fa-clock"></i>
                            @i.Post_Date.ToString().Split(' ')[0] | @i.Post_Date.ToString().Split(' ')[1]
                        </p>
                        @if (i.St_ID == Convert.ToInt32(Session["StudentID"]))
                        {
                            <a href="@Url.Action("DeletePost","Students",new { id = i.Post_ID})" onclick="DeletePost()" style="position:absolute;left:95%;top: 20px;">
                                <i class="fas fa-trash text-dark"></i>
                            </a>
                        }

                    </div>
                    <div class="card-body text-center h3">
                        @Html.Raw(i.Post_Content.Replace("<br/>", "\r\n"))
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-dark btn-block"  href="@Url.Action("Replys","Students" , new { id=i.Post_ID})">
                            <i class="fas fa-comment"></i>
                             View Replys And Details
                        </a>
                    </div>
                </div>
                <br />
                <br />
            }
        </div>
    </div>

}
<div class="popup">
    <div class="shadow"></div>
    <div class="inner_popup">
        <div class="notification_dd">
            <ul class="notification_ul">
                <li class="title">
                    <p>Create New Post</p>
                    <p class="close"><i class="fas fa-times" aria-hidden="true"></i></p>
                </li>
            </ul>
            <br>
            <form style="margin-left: 30px; margin-right: 30px;">
                <div class="form-group">
                    <textarea class="form-control" placeholder="write your post here....." rows="5"></textarea>
                </div>
                <button style="margin-left:0%;" type="submit" class="btn btn-block btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>