@model MvcAuth.Models.RegisterCoursesTbl

@{ ViewBag.Title = "Register Course";
                Layout = "~/Views/Shared/_LayoutStudent.cshtml"; }

<br />
<a href="@Url.Action("Courses","Students")" class="btn-link h3" style="color: #df4759">Back To Courses > </a> <span class="h3 text-dark">Register New Course</span>
<br />

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
    <br />
<div class="form-horizontal">
    @if (ViewBag.msg != null)
    {
<h2 class="text-danger">@ViewBag.msg</h2>}
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Course_ID, ViewBag.Courses as SelectList, "Select Course Name", new {   @class = "form-control btn-dark"  })
            @Html.ValidationMessageFor(model => model.Course_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-block btn-outline-dark" />
        </div>
    </div>
</div>}

