@model IEnumerable<MvcAuth.Models.QuestionsTbl>

@{
    ViewBag.Title = "Start Exam";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

@using (Html.BeginForm())
{
    <br />
    <div class="container">
        <div class="col-md-3">
            <ul class="text-right list-unstyled">
                <li>
                    <p class="text-center" style="font-size:15px"> Remin Time</p>
                </li>
                <li>
                    <p class="text-center" style="font-size:20px" id="timer"> 00:00</p>
                </li>
                <li>
                    <p class="text-center" style="font-size:15px"> Exam Name  </p>
                </li>
                <li>
                    <p class="text-center" style="font-size:20px"> @ViewBag.Name</p>
                </li>

                <li>
                    <p class="text-center" style="font-size:15px"> Exam Info  </p>
                </li>
                <li>
                    <p class="text-center" style="font-size:20px"> @ViewBag.Info</p>
                </li>

                <li>
                    <p class="text-center" style="font-size:15px"> Exam Degree</p>
                </li>
                <li>
                    <p class="text-center" style="font-size:20px"> @ViewBag.Degree</p>
                </li>
                <li>
                    <p class="text-center" style="font-size:15px"> By  </p>
                </li>
                <li>
                    <p class="text-center" style="font-size:20px"> @ViewBag.By</p>
                </li>
                <li>
                    <p class="text-center" style="font-size:15px"> All Time</p>
                </li>
                <li>
                    <p class="text-center" style="font-size:20px"> @ViewBag.Mint</p>
                </li>


            </ul>

            @if (Model.Count() == 0)
            {
                <h1>No Qutstion Added</h1>
            }
            else
            {
               foreach (var item in Model)
                {

                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            @Html.DisplayFor(modelItem => item.Question)
                        </div>
                        <div class="panel-body">
                            @Html.RadioButton("Answer"+item.Question, @Html.DisplayFor(modelItem => item.First_Choice))
                            @Html.DisplayFor(modelItem => item.First_Choice)
                            <br />
                            @Html.RadioButton("Answer" + item.Question, @Html.DisplayFor(modelItem => item.Second_Choice))
                            @Html.DisplayFor(modelItem => item.Second_Choice)
                            <br />
                            @Html.RadioButton("Answer" + item.Question, @Html.DisplayFor(modelItem => item.Third_Choice))
                            @Html.DisplayFor(modelItem => item.Third_Choice)
                            <br />
                            @Html.RadioButton("Answer" + item.Question, @Html.DisplayFor(modelItem => item.Fourth_Choice))
                            @Html.DisplayFor(modelItem => item.Fourth_Choice)
                        </div>

                    </div>
                    <div class="col-md-9">

                    </div>

                }
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        var Scounds =  @ViewBag.Time,
            CountDiv = document.getElementById('timer'),
            ScoundPass,
            CountDown;
        CountDown = setInterval(function () {
            ScoundPass();
        }, 1000);

        function ScoundPass() {
            var mint = Math.floor(Scounds / 60),
                RemiScound = Scounds % 60;
            if (Scounds<10)
            {
                RemiScound = "0" + RemiScound;

            }
            CountDiv.innerHTML = mint + ":" + RemiScound;
            if(Scounds>0)
            {
                Scounds = Scounds - 1;
            }
            else
            {
                clearInterval(CountDown);
                CountDiv.innerHTML = "Exam End"
            }
            function EndExam() {
                // here post function for end exam
            }

            setTimeout(function () {
                EndExam();
            },Scounds*1000 + 5000);
        }
        window.onbeforeunload = function() {
            return "you can not refresh the page";
        }
        // Menu
        document.addEventListener("contextmenu", function (e) {
            e.preventDefault();
        });
        // Full Sccreen
        document.addEventListener("dblclick", () => {
            document.documentElement.requestFullscreen().catch((e) => {
                console.log(e);
            });
        });
        // key Disabled
        document.onkeydown = function (e) {
            e.preventDefault();
        }
    </script>
}